@font-face {
  font-family: "KhmerMn";
  src: url("./assets/KhmerMN.woff") format("woff"),
    url("./assets/KhmerMN-Bold-02.ttf") format("truetype");
}
:root {
  --background: #ebe6e2;
  font-family: "KhmerMN";
}

body {
  background-color: var(--background);
  margin: 0;
}
main {
  text-align: center;
}
.map-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: inline-block;
  min-width: 1308px;
  position: relative;
}
.map {
  height: 100vh;
  /* width: 100%; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}
.city {
  /* max-height: 14%; */
  position: absolute;
  top: 50%;
  left: 50%;
}
svg {
  stroke: dimgrey;
  width: 1.5rem;
  fill: var(--background);
}
.warszawa {
  top: 36%;
  left: 52.5%;
}
.atlanta {
  top: 47%;
  left: 25%;
}
.chania {
  top: 42%;
  left: 51%;
}
.east-hampton {
  top: 38%;
  left: 32%;
}
.edmonton {
  top: 36%;
  left: 16%;
}
.glasgow {
  top: 31%;
  left: 41%;
}
.inner-mongolia {
  top: 38%;
  left: 75%;
}
.kent {
  top: 38%;
  left: 47%;
}
.london {
  top: 36%;
  left: 43%;
}
.minneapolis {
  top: 39%;
  left: 21.5%;
}
.mumbai {
  top: 51%;
  left: 64.5%;
}
.new-york {
  top: 39%;
  left: 28%;
}
.seul {
  top: 42%;
  left: 81%;
}
.tel-aviv {
  top: 48%;
  left: 55%;
}
.city-full-wrapper {
  background: var(--background);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  opacity: 0;
  transition: opacity ease-in-out 3s;
}
.city-full-wrapper:target {
  display: block;
  /* top: 0; */
  opacity: 1;
}
.city-full {
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background);
}
.city-full-title {
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  position: absolute;
}
h1 {
  /* bottom: 7rem; */
  font-size: 3rem;
  margin-bottom: 0;
}
audio {
  bottom: 15rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.audio-wrapper {
  bottom: 15rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.audio-wrapper audio {
  position: relative;
  transform: none;
  bottom: initial;
  left: initial;
}
.audio-wrapper audio:nth-child(1) {
  margin-right: 1rem;
}
/* h3 {
  position: absolute;
} */
.close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  transform: scale(1.5);
}
